<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/card.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='album/favicon.png') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">IDFM</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Homepage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/trafic">Trafic</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/horaires">Horaires</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/plan">Plan</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="filterbanner"></div>
    <div id="banner"></div>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>